:root {
  --cor-header: #330253;
  --cor-download-button: #5C2C72;
  --cor-buttons-navbar: #622F7A;
  --cor-text-information : #442257;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Medium.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/RobotoCondensed-Medium.ttf');
}

@font-face {
  font-family: Secular One;
  src: url('../fonts/SecularOne-Regular.ttf');
}

@font-face {
  font-family: Avilock;
  src: url('../fonts/Avilock\ Bold.ttf');
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.logo {
  height: 44px;
  width: 196px;
  padding-left: 8px;
}

.header {
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 8px;
  background: var(--cor-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar {
  padding-right: 12px;

  ul {
    display: flex;
    cursor: pointer;
  }
}

.navbar ul li a {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.30);
  display: block;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: var(--cor-buttons-navbar);
  margin: 0 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.name{
  margin: 20px 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  column-gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: "Avilock", sans-serif;
    font-size: 24px;
    color: var(--cor-header);
  }
}

.subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avilock", sans-serif;
  font-size: 24px;
  color: var(--cor-header);
  margin: 10px auto;
}

#div-branca {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 80%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 12px;
}

.input-content {
  height: 52vh;
  display: grid;
  place-content: center;
  font-family: 'Poppins', sans-serif;
}

.main,
.main_inputs {
  display: grid;
  place-content: center;
  font-family: 'Poppins', sans-serif;
}

.main {
  height: 46vh;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 40px;
  background-color: var(--cor-header);
  margin: auto;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label img {
  margin-right: 14px;
}

#nomeArquivo {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.container {
  flex-direction: column;
  align-items: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid,
.grid_inputs {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.30);
  display: flex;
  background-color: #f8f8ff;
  width: 420px;
  height: 80px;
  border: 3px dashed var(--cor-download-button);
  border-radius: 2px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grid {
  margin-top: 100px;
}

.grid_inputs:first-of-type {
  margin-top: 80px;
}

.grid_inputs:not(:first-of-type) {
  margin-top: 20px;
}

.arquive {
  margin-left: 20px;
}

.close {
  margin-right: 20px;
  cursor: pointer;
  border: 2px solid #ff0000;
  border-radius: 12px;
}

.file-name {
  font-size: 20px;
  font-family: "Secular One", sans-serif;
}

.download-button {
  margin-top: 20px;
  border: 2px solid var(--cor-download-button);
  padding: 12px 20px; 
  border-radius: 12px;
  background-color: var(--cor-download-button);
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  box-shadow: inset 60px 60px 36px -74px rgba(31,1,31,0.80);
}

#msgForUser {
  font-family: "Poppins", "Roboto";
  font-weight: bold;
  color: var(--cor-text-information);
}

.password-name {
  width: 620px; /* Adjust width as needed for both inputs */
  background: #ffff;
  margin: 20px auto 0;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  column-gap: 20px;
}

#senhaParaPFX,
#nomeParaPFX {
  flex: 1;
  border: 2px solid #442257;
  outline: 0;
  font-size: 18px;
  color: #000000;
  text-align: center;
  border-radius: 4px;
  height: 40px;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 320px;
  height: 200px;
  background-color: var(--cor-text-information);
  color: white;
  border-radius: 40px;
  border: 1px solid white;
}

.modal_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid_message{
  margin-top: 6px;
}

#mensagem{
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0 auto;
}

.x {
  cursor: pointer;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  &:hover{
  background-color: #920303;
  }
}

.grid_close {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 16px;
  margin-top: 15px;
}

input::placeholder{
  color: #442257;
}

.selection{
  cursor: pointer;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 90%;
  height: 60%;
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px dashed #5d5a5e;
  &:hover{
    border: 2px dashed #70008b;
  }
}

.acceptance_of_terms {
  cursor: pointer;
  display: flex;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  p{
    font-family: "Avilock", sans-serif;
    color: var(--cor-header);
  }
}